<div class ="container1">

    <h2 class="text-center">{{'CATEGORIE.' + operationMode | translate}}</h2>


    <div class="actions">
        <p class="text-right">
            <a class="btn btn-default" href="#!/categorie/home">
                <span class="glyphicon glyphicon-chevron-left"></span> {{'COMMON.BACK' | translate}}
            </a>
        </p>
    </div>


	<form name="manageCategorieForm" ng-submit="save(manageCategorieForm.$valid)">
		<div class="form-group">
			<label for="categorieName">{{'CATEGORIE.NAME' | translate}} </label>
			<input type="text" name="nameCategorie" class="form-control" ng-model="managedCategorie.nameCategorie" maxlength="500" required autofocus/>
			<div ng-messages="manageCategorieForm.categorieNameCategorie.$error">
                <div ng-messages-include="views/shared/messages.html"></div>
            </div>
		</div>
	
	
	  <div class="form-group">
			<label for="categorieDescription">{{'CATEGORIE.DESCRIPTION' | translate}}</label>
			<input type="text" name="categorieDescription" class="form-control" ng-model="managedCategorie.description" maxlength="4000" required autofocus/>
			<div ng-messages="manageCategorieForm.categorieDescription.$error">
                <div ng-messages-include="views/shared/messages.html"></div>
            </div>
		</div>

		

		<p class="text-center"  >
            <button type="submit" class="btn btn-success text-center"><span class="glyphicon glyphicon-save"></span> {{'COMMON.SAVE' | translate}}</button>
            <button type="button" class="btn btn-danger" ng-click="goBack()"><span class="glyphicon glyphicon-remove"></span> {{'COMMON.CANCEL' | translate}}</button>
        </p>
	</form>

</div>
