<!-- <h2 translate="PRODUIT.INFORMATION" class="text-center" translate-values="{produitName: produit.nameProduit}"></h2>
 -->
 <div class=" container1">
<div class=" container actions">
    <p class="text-right">
        <a class="btn btn-primary" href="#/produit/home">
            <span class="glyphicon glyphicon-chevron-left"></span> {{'COMMON.BACK' | translate}}
        </a>
    </p>
</div>

<form name="manageProduitInformationForm" ng-submit="save(manageProduitInformationForm.$valid)">

    <div class="form-group">
        <label>{{'PRODUIT.IMAGE' | translate}}</label>
        <input type="file" name="image" class="form-control" ng-model="managedProduitInformation.image" ng-required="operationMode == 'CREATE'" base-sixty-four-input/>
        <div ng-messages="manageProduitInformationForm.image.$error">
            <div ng-messages-include="views/shared/messages.html"></div>
        </div>
        <img ng-if="operationMode == 'EDIT'" ng-src="{{apiUrl}}/produit/{{produit.id}}/information/imageData" width="150">
    </div>
	 <div class="form-group">
        <label>{{'PRODUIT.PHOTO' | translate}}</label>
        <input type="file" name="photo" class="form-control" ng-model="managedProduitInformation.photo" ng-required="operationMode == 'CREATE'" base-sixty-four-input/>
        <div ng-messages="manageProduitInformationForm.photo.$error">
            <div ng-messages-include="views/shared/messages.html"></div>
        </div>
        <img ng-if="operationMode == 'EDIT'" ng-src="{{apiUrl}}/produit/{{produit.id}}/information/photoData" width="150">
    </div>

    <div class="form-group">
        <label>{{'PRODUIT.VIDEO' | translate}}</label>
        <input type="text" name="videoLink" class="form-control" ng-model="managedProduitInformation.videoLink"  placeholder="http://" />
        <div ng-messages="manageProduitInformationForm.videoLink.$error">
            <div ng-messages-include="views/shared/messages.html"></div>
        </div>
    </div>

 

    <p class="text-center">
        <button type="submit" class="btn btn-success text-center">
            <span class="glyphicon glyphicon-save"></span> {{'COMMON.SAVE' | translate}}</button>
        <button type="button" class="btn btn-default" ng-click="goBack()">
            <span class="glyphicon glyphicon-remove"></span> {{'COMMON.CANCEL' | translate}}</button>
    </p>
</form>
</div>