<div class ="container1">
<h2 translate="PRODUIT.INFORMATION" class="text-center" translate-values="{produitName: produit.nameProduit}"></h2>

<h3>1. {{'PRODUIT.GENERAL.INFORMATION.MAP' | translate}}</h3>
<br/>
<p style="text-align:center;">
    <img ng-src="{{apiUrl}}/produit/{{produit.id}}/information/imageData" style="max-width: 400px; max-height: 200px">
</p>


<p style="text-align:center;">
    <img ng-src="{{apiUrl}}/produit/{{produit.id}}/information/photoData" style="max-width: 400px; max-height: 200px">
</p>

<div class="clearfix"></div>
<br/>

<div class="clearfix"></div>
<br/>
<h3>3. {{'PRODUIT.GENERAL.INFORMATION.VIDEO' | translate}}</h3>
<br/>
<p style="text-align:center;">
    <iframe width="400" height="200" ng-src="{{getVideoLink()}}" frameborder="0" allowfullscreen></iframe>
</p>





<p class="text-center" ng-if="hasAnyRole('SPS_COORDINATOR', 'REFERENT')">
    <button type="button" class="btn btn-default" ng-click="goBack()">
        <span class="glyphicon glyphicon-chevron-left"></span> {{'COMMON.BACK' | translate}}
    </button>
</p>
</div>