<span ng-message="required">&raquo; {{'COMMON.REQUIRED' | translate}}</span>
<span ng-message="max">&raquo; {{'COMMON.NUMBER_MAX' | translate}}</span>
<span ng-message="min">&raquo; {{'COMMON.NUMBER_MIN' | translate}}</span>
<span ng-message="email">&raquo; {{'COMMON.BAD_FORMAT' | translate}}</span>
<span ng-message="pattern">&raquo; {{'COMMON.BAD_FORMAT' | translate}}</span>
<span ng-message="number">&raquo; {{'COMMON.BAD_NUMBER' | translate}}</span>
<span ng-message="time">&raquo; {{'COMMON.BAD_NUMBER' | translate}}</span>
