<div>

  
	test-----------------------------------------------
 <!-- <div>
      <div class="navbar navbar-inverse" >
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

		<table class="table table-striped text-center">
		<thead>
			 <tr>
			 <td ng-repeat="row in searchResult.content | filter: row" class="col-md-1 text-center">
	        
			 <div class="brick-logo">
                <img src="images/cat1.jpg" style="width: 30px; height: auto;">
             </div>
             <a href="#!/categorieToProduit/{{row.id}}/concerned" style="text-align: center;">{{row.nameCategorie}}
			 </td>
			 </tr>
		</thead>
		</table>
		 </ul>
                     
          </div>
         </div>
        </div>   -->
	
<!-- <h1 class="col-md-12" style="text-align: center" ng-if= "hasAnyRole('SUPERADMIN')">Trouvez votre produit </h1> -->
	<!-- <div class="padded-row">
          
		   <div  class="col-md-3"  >
					
			 
            </div>
		 <div  class="col-md-6" ng-controller="AutoComCtrl" >
			<div class="padded-row">
              <angucomplete id="ex1"
				
			  placeholder="Recherche de produit"
              pause="100"
              selectedobject="selectedProduit"
              localdata="searchResult.content"
              searchfields="reference,nameProduit"
			  
              titlefield  ="reference,nameProduit" 
              minlength="1"
			  inputclass="form-control form-control-small" 
			   match-class="highlight"/>
                </div>
			
			 
            </div></div> 
			 <div  class="col-md-3"  >
					
			 
            </div> -->
			
			</div>
                    
         

		 