<div class= "container1">
    <h2>{{'CATEGORIETOPRODUIT.LIST' | translate}}</h2>

 <div class = "col-md-6"  ng-if = "searchResult.totalElements == 0"><p ><font size="4"> {{'ACCEUIL.PRODUIT_NULL' | translate}}</font><p/> </div>
	  <div  class= "actions">
	 
        <p class="text-right">
		
          <!-- <a ng-href="#!/produit/create" ng-if="hasAnyRole('SUPERADMIN', 'ADMINISTRATEUR')" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> {{'COMMON.ADD' | translate}}
            </a> -->
			<a  ng-if="hasAnyRole('SUPERADMIN', 'ADMINISTRATEUR')"  ng-href="#!/home" class="btn btn-primary">
              <span class="glyphicon glyphicon-chevron-left"></span> {{'COMMON.BACK' | translate}}
            </a>
			
		</p>
	
    </div> 
	

    <div ng-include="'views/shared/pagination.html'" class="pull-right" ng-if="searchResult.totalElements > 0"></div>
	<!-- <label ng-show="searchResult.totalElements > 0 && hasAnyRole('SUPERADMIN', 'ADMINISTRATEUR')">{{'ACCEUIL.RECHERCHE_1' | translate}} <input ng-model="produit.nameProduit" class="form-control"></label> -->
	
	 
	    <table class="table table-striped text-center">
	    <thead>
	        <tr ng-if="searchResult.totalElements > 0">
			
	            <th class="col-md-4 text-center">{{'CATEGORIETOPRODUIT.NAME' | translate}}</th>
	            <th class="col-md-4 text-center">{{'CATEGORIETOPRODUIT.DESCRIPTION' | translate}}</th>
				<th class="col-md-3 text-center">{{'PRODUIT.IMAGE' | translate}}</th>
				<th class="col-md-1 text-center">{{'CRECHE.ACTIONS' | translate}}</th>
				
	        </tr>
	    </thead>
	 
		<tr ng-repeat="categorieToProduit in searchResult.content | filter: categorieToProduit.produit ">
		
	        <td>{{categorieToProduit.produit.nameProduit | uppercase }}</td>
			<td>{{categorieToProduit.produit.description}}</td>
			<td><a href="" ng-click="openLightboxModal(apiUrl + '/produit/' + categorieToProduit.produit.id + '/information/imageData')">
            		 
						<p style="text-align:center;">
						<img ng-src="{{apiUrl}}/produit/{{categorieToProduit.produit.id}}/information/imageData" style="max-width: 80px; max-height: 45px">
			</p>
					
            	</a>
            </td>
			<td >
			 
	            <div class="btn-group">
	                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    {{'COMMON.ACTIONS' | translate}}
	                    <span class="caret"></span>
	                </button>
	                <ul class="dropdown-menu">

                        <li role="separator" class="divider"></li>
												
					    <li>
	                        <a href="#!/produit/view/{{categorieToProduit.produit.id}}" >
                            <p><span class="glyphicon glyphicon-edit"></span> {{'COMMON.VIEW' | translate}}</p>

                        	</a>
	                    </li>
	                   
	                
	            </div>
	        </td>
	
	    </tr>
	</table>
</div>
